@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lato:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DNPShueiMinPr6";
  color: #282828;
  line-height: 1.6;
  background-color: #fcfafa;
  padding-top: 60px;
}
@media screen and (max-width: 767px) {
  body {
    padding-top: 35px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DNPShueiMinPr6";
  font-weight: 700;
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
  color: #b1382b;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}
.section-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #b1382b;
  margin: 20px auto 0;
}

header {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  text-align: center;
  position: fixed; /* Add this line */
  width: 100%; /* Ensure the header spans the full width */
  top: 0; /* Fix it to the top */
  z-index: 1000; /* Ensure it stays above other elements */
}
header .logo {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .logo img {
  margin-right: 10px;
  max-width: 300px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
header nav .nav-links {
  display: none;
}
header nav .nav-links li {
  display: inline-block;
  margin: 0 10px;
}
header nav .nav-links li a {
  color: #282828;
  text-decoration: none;
}
header nav .nav-links li a:hover {
  color: #b1382b;
}
header nav .contact-info {
  display: flex;
  align-items: center;
}
header nav .contact-info .phone {
  margin-right: 20px;
}
header nav .contact-info .contact-button {
  text-decoration: none;
}
header nav .contact-info .contact-button img {
  width: 200px;
}

.fv {
  width: 100%;
  background: url("https://welltech-km.github.io/seigan/img/bg_pc.webp");
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none; /* CSS3 */
  -webkit-user-select: none; /* Safari、Chromeなど */
  -webkit-user-drag: none;
  -moz-user-select: none;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .fv {
    margin-top: 0;
  }
}
.fv .fv-container {
  max-width: 1920px;
  aspect-ratio: 160/77;
  text-align: center;
  margin: 24px auto -12px;
}
@media screen and (max-width: 767px) {
  .fv .fv-container {
    max-width: 95%;
  }
}
.fv img {
  width: 100%;
}

#cta {
  background-size: cover;
  padding-top: 1em;
  width: 100%;
  background-image: url("https://welltech-km.github.io/seigan/img/bg-cta.webp");
  background-repeat: no-repeat;
  max-height: 452px;
  position: relative;
}
@media screen and (max-width: 767px) {
  #cta {
    padding-top: 0.5em;
  }
}
#cta .cta-price {
  background-size: cover;
  width: 100%;
  background-image: url("https://welltech-km.github.io/seigan/img/cta-price-bg.webp");
  background-repeat: no-repeat;
}
#cta .cta-price img {
  display: block;
  width: min(50%, 1066px);
  margin: 0 auto;
  padding: 1.5em 0;
}
@media screen and (max-width: 767px) {
  #cta .cta-price img {
    padding: 0.5em 0;
    width: 75%;
  }
}
#cta .cta-btn .cta-btn__txt {
  width: min(35%, 738px);
  margin: 1em auto 0;
  color: #fff;
  font-size: min(1.5vw, 2em);
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 767px) {
  #cta .cta-btn .cta-btn__txt {
    width: 75%;
    font-size: 1em;
  }
}
#cta .cta-btn .cta-btn__el {
  display: block;
  width: min(35%, 738px);
  margin: 0.75em auto 0;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  #cta .cta-btn .cta-btn__el {
    width: 75%;
  }
}
#cta .cta-btn .cta-btn__el img {
  width: 100%;
}

#issues {
  background: url("https://welltech-km.github.io/seigan/img/bg-issues.webp");
  aspect-ratio: 480/343;
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: min(3vw, 5em);
}
@media screen and (max-width: 767px) {
  #issues {
    aspect-ratio: unset;
    background-repeat: repeat;
    background-size: auto;
    padding-top: 105px;
    padding-bottom: 75px;
    position: relative;
    overflow: hidden;
  }
}
@media screen and (min-width: 1921px) {
  #issues {
    padding-top: min(5vw, 11em);
    height: min(70vw, 89em);
    background-repeat: repeat-x;
    width: 100%;
  }
}
#issues .issues-frame {
  aspect-ratio: 263/155;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  background: url("https://welltech-km.github.io/seigan/img/issues-frame.webp");
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  #issues .issues-frame {
    background: unset;
    width: 85%;
    background: #fff;
    filter: drop-shadow(8px 8px 10px rgba(216, 207, 223, 0.16));
    border-radius: 16px;
  }
}
#issues .issues-frame img {
  width: min(100%, 1920px);
}
@media screen and (max-width: 767px) {
  #issues .issues-frame .sp-circle {
    width: 87%;
    height: 60%;
    border-radius: 170px/70px;
    position: absolute;
    top: -55px;
    background: #fff;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }
}
#issues .issues-frame h2 {
  font-family: DNPShueiMinPr6;
  font-weight: normal;
  font-size: min(3vw, 3.6em);
  letter-spacing: 0.04em;
  line-height: min(4.2vw, 76px);
  text-align: center;
  color: #5f5fa3;
  position: absolute;
  top: 14%;
  left: 37.8%;
  aspect-ratio: 445/182;
}
@media screen and (max-width: 767px) {
  #issues .issues-frame h2 {
    font-size: 27px;
    text-align: center;
    line-height: 1.6;
    width: 90%;
    margin: 0 auto;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    top: -45px;
  }
}
#issues .issues-frame h2 span {
  font-size: 1.35em;
  position: relative;
  z-index: 1;
}
#issues .issues-frame h2 span::before {
  position: absolute;
  content: "";
  background-color: #F0F1FF;
  width: 100%;
  height: 24px;
  display: inline-block;
  bottom: 0;
  left: 0;
  z-index: -1;
}
#issues .issues-frame .issue_box-container {
  max-width: 927px;
  aspect-ratio: 927/559;
  position: absolute;
  top: 31%;
  left: 27.6%;
}
@media screen and (max-width: 767px) {
  #issues .issues-frame .issue_box-container {
    max-width: 95%;
    width: 95%;
    position: initial;
    margin: 0 auto;
    padding: 75px 10px 30px;
  }
}
#issues .issues-frame .issue_box {
  aspect-ratio: 927/69;
  background: #fff;
  border: 3px solid #edf0ff;
  max-width: 927px;
  font-size: min(1.3vw, 31px);
  line-height: min(2vw, 49px);
  text-align: left;
  color: #5a3736;
}
@media screen and (max-width: 767px) {
  #issues .issues-frame .issue_box {
    font-size: 15px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1921px) {
  #issues .issues-frame .issue_box {
    font-size: min(1.07vw, 31px);
  }
}
#issues .issues-frame .issue_box:not(:last-child) {
  margin-bottom: 1em;
}
#issues .issues-frame .check-box {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 5px 30px;
  position: relative;
  width: auto;
}
@media screen and (max-width: 767px) {
  #issues .issues-frame .check-box {
    padding-left: 40px;
  }
}
#issues .issues-frame .check-box input {
  display: none;
}
#issues .issues-frame .check-box input[type=checkbox]:checked + .check-box::after {
  opacity: 1;
}
#issues .issues-frame .check-box .check-box__text {
  padding-left: 35px;
}
@media screen and (max-width: 767px) {
  #issues .issues-frame .check-box .check-box__text {
    padding-left: 0;
  }
}
#issues .issues-frame .check-box::before {
  background: #fff;
  border: 2px solid #DDCCCC;
  border-radius: 3px;
  content: "";
  display: block;
  height: 18px;
  left: 5px;
  margin-top: -8px;
  position: absolute;
  top: 46%;
  width: 18px;
}
@media screen and (max-width: 767px) {
  #issues .issues-frame .check-box::before {
    top: 40%;
  }
}
#issues .issues-frame .check-box::after {
  border-right: 5px solid #B53938;
  border-bottom: 5px solid #B53938;
  content: "";
  display: block;
  height: 20px;
  left: 7px;
  margin-top: -16px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 9px;
}
@media screen and (max-width: 767px) {
  #issues .issues-frame::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 68%;
    height: auto;
    background-image: url("https://welltech-km.github.io/seigan/img/issues-bgleft_sp.webp");
    background-size: contain;
    vertical-align: middle;
    aspect-ratio: 1189/2055;
    bottom: -50px;
    left: -165px;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 767px) {
  #issues .issues-frame::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 68%;
    height: auto;
    background-image: url("https://welltech-km.github.io/seigan/img/issues-bgright_sp.webp");
    background-size: contain;
    vertical-align: middle;
    aspect-ratio: 1189/2055;
    top: -65px;
    right: -175px;
  }
}
#issues ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  text-align: left;
}
#issues ul li {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBkPSJNMTIuMzU2IDMuMzU2bC0yLjc3NyAyLjc3NyA0LjA2NCA0LjA2NEw4IDEyTDEuOTIzIDYuNTI0bDIuNzctMi43NzdMOS42IDEwLjQzMnoiIGZpbGw9IiMwMDAiLz48L3N2Zz4=") no-repeat left center;
  padding-left: 30px;
  margin: 10px 0;
}
#issues .issue-images {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#issues .issue-images img {
  width: 150px;
  height: auto;
  margin: 0 20px;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  #issues::before {
    position: absolute;
    width: 200px;
    height: 100px;
    border-radius: 100px/50px;
  }
}

#features {
  margin-top: min(-2vw, -4em);
  background: #fff;
}
@media screen and (max-width: 767px) {
  #features {
    margin-top: 0;
  }
}
#features .features-recommend {
  width: 100%;
  aspect-ratio: 1920/419;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}
#features .features-woman {
  max-width: 1920px;
  margin: 0 auto;
}
#features .features-woman img {
  aspect-ratio: 640/301;
  width: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}
#features .features-effect {
  aspect-ratio: 960/192;
}
#features .features-effect img {
  width: 100%;
}

#effects {
  background: url("https://welltech-km.github.io/seigan/img/bg-effect.webp");
  aspect-ratio: 1920/4330;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: max(-3vw, -5em);
}
@media screen and (max-width: 767px) {
  #effects {
    margin-top: 0;
    aspect-ratio: 2217/5000;
  }
}
#effects .effects-container {
  padding-top: min(8vw, 135px);
}
@media screen and (max-width: 767px) {
  #effects .effects-container {
    padding-top: 45px;
  }
}
#effects .effects-container .effects-ttl {
  width: 71.45833%;
  background: #f4fcff;
  box-shadow: 8px 8px 10px rgba(104, 161, 178, 0.16);
  font-size: min(3.1vw, 60px);
  line-height: min(4.8vw, 98px);
  text-align: center;
  color: #45160c;
  display: flex;
  vertical-align: middle;
  justify-content: flex-end;
  padding-bottom: 0.3em;
  padding-right: 2em;
}
@media screen and (max-width: 767px) {
  #effects .effects-container .effects-ttl {
    font-size: 19px;
    padding: 15px 10px 15px 0;
  }
}
#effects .effects-container .effects-ttl span {
  position: relative;
}
#effects .effects-container .effects-ttl span::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  background: #5ebde0;
  border-radius: 50px;
  top: min(1.9vw, 1.7em);
  left: -1.25em;
}
@media screen and (max-width: 767px) {
  #effects .effects-container .effects-ttl span::before {
    width: 20px;
    height: 20px;
    top: 3px;
    left: -25px;
  }
}
#effects .effects-container .effects-lower {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  gap: 15px;
}
@media screen and (max-width: 767px) {
  #effects .effects-container .effects-lower {
    max-width: 95%;
  }
}
#effects .effects-container .effects-txt {
  width: 44%;
  font-weight: normal;
  font-size: min(4vw, 24px);
  line-height: 50px;
  text-align: left;
  color: #45160c;
  margin-top: min(7vw, 90px);
}
@media screen and (max-width: 767px) {
  #effects .effects-container .effects-txt {
    margin-top: 30px;
    font-size: 15px;
    width: 60%;
    line-height: 2.2;
  }
}
#effects .effects-container .effects-img {
  aspect-ratio: 488/410;
  max-width: 488px;
  margin-top: min(5vw, 45px);
}
@media screen and (max-width: 767px) {
  #effects .effects-container .effects-img {
    margin-top: 30px;
    max-width: 47.5%;
  }
}
#effects .effects-container .effects-img img {
  width: 100%;
}
#effects .effects-container:not(:first-child) {
  padding-top: min(7.4vw, 180px);
}
@media screen and (max-width: 767px) {
  #effects .effects-container:not(:first-child) {
    padding-top: 90px;
  }
}
#effects .effects-container:nth-child(2n) .effects-ttl {
  justify-content: flex-start;
  margin: 0 0 0 auto;
  padding-left: 2em;
}
#effects .effects-container:nth-child(2) .effects-ttl {
  background-color: #EFF3FF;
}
#effects .effects-container:nth-child(2) .effects-img {
  aspect-ratio: 512/378;
  max-width: 512px;
}
@media screen and (max-width: 767px) {
  #effects .effects-container:nth-child(2) .effects-img {
    margin-top: 30px;
    max-width: 47.5%;
  }
}
#effects .effects-container:nth-child(2) .effects-ttl span::before {
  background: #AFA1E5;
}
#effects .effects-container:nth-child(3) .effects-ttl {
  background-color: #FFEEF4;
}
#effects .effects-container:nth-child(3) .effects-img {
  aspect-ratio: 525/410;
  max-width: 525px;
}
@media screen and (max-width: 767px) {
  #effects .effects-container:nth-child(3) .effects-img {
    margin-top: 30px;
    max-width: 47.5%;
  }
}
#effects .effects-container:nth-child(3) .effects-ttl span::before {
  background: #F492A0;
}
#effects .effects-container:nth-child(4) .effects-ttl {
  background-color: #FFFDEB;
}
#effects .effects-container:nth-child(4) .effects-img {
  aspect-ratio: 567/495;
  max-width: 567px;
}
@media screen and (max-width: 767px) {
  #effects .effects-container:nth-child(4) .effects-img {
    margin-top: 30px;
    max-width: 47.5%;
  }
}
#effects .effects-container:nth-child(4) .effects-ttl span::before {
  background: #DBD06C;
}
#effects .effects-beauty {
  max-width: 1400px;
  aspect-ratio: 1400/1325;
  background: url("https://welltech-km.github.io/seigan/img/beauty-bg.webp");
  background-size: contain;
  margin: 0 auto;
}
#effects .effects-beauty .effects-beauty__ttl {
  font-size: 60px;
  letter-spacing: 0.03em;
  line-height: 55px;
  text-align: left;
  color: #b53938;
  max-width: 958px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding-top: 4.5em;
}
#effects .effects-beauty .effects-beauty__ttl::after {
  position: absolute;
  content: url("https://welltech-km.github.io/seigan/img/beauty-title.png");
  width: 958px;
  aspect-ratio: 958/57;
  top: 30px;
  right: 0;
  padding-top: 4.5em;
}
#effects .effects-beauty .effects-beauty__fv {
  max-width: 476px;
  aspect-ratio: 476/262;
  margin: 4em auto 0;
}
#effects .effects-beauty .effects-beauty__fv img {
  width: 100%;
}
#effects .effects-beauty .effects-beauty__txt {
  line-height: 55px;
  color: #b53938;
  font-size: 35px;
  text-align: center;
  margin-top: 1em;
}
#effects .effects-beauty .effects-beauty__txt span {
  font-size: 1.25em;
}
#effects .effects-beauty .effects-beauty__detail {
  display: flex;
  max-width: 1000px;
  margin: 3em auto 0;
  gap: 15px;
}
#effects .effects-beauty .effects-beauty__detail p {
  font-size: 28px;
  color: #5a3736;
}
#effects .effects-beauty .effects-beauty__detail img {
  max-width: 379px;
  aspect-ratio: 379/233;
}

#explanations {
  background: url("https://welltech-km.github.io/seigan/img/explanations-bg.webp") no-repeat;
  background-size: contain;
  aspect-ratio: 1920/1813;
  margin-top: -10em;
  position: relative;
}
#explanations .explanations-container {
  width: 57.2916%;
  max-width: 1130px;
  aspect-ratio: 1130/1310;
  margin: 0 auto;
  position: absolute;
  background: url("https://welltech-km.github.io/seigan/img/explanations-container.webp") no-repeat center center;
  background-size: contain;
  top: 15em;
  left: 50%;
  transform: translateX(-50%);
}
#explanations .explanations-container .explanations-container__ttl {
  width: 87.545%;
  border-radius: 58px;
  background: #fff;
  box-shadow: 5px 5px 8px rgba(175, 100, 100, 0.16);
  font-size: 47px;
  letter-spacing: 0.03em;
  line-height: 80px;
  color: #b53938;
  text-align: center;
  padding-bottom: 0.2em;
  margin: -45px auto 0;
}
#explanations .explanations-container .explanations-container__img {
  width: 48.636%;
  margin: 1em auto 0;
}
#explanations .explanations-container .explanations-container__img img {
  width: 100%;
}
#explanations .explanations-container .explanations-container__txt {
  width: 82.3636%;
  margin: 0 auto;
  font-size: 32px;
  letter-spacing: 0.03em;
  line-height: 1.6;
  text-align: center;
  color: #b53938;
}
#explanations .explanations-container .explanations-container__txt span {
  font-size: 1.37em;
}
#explanations .explanations-container .explanations-container__txt .marker {
  position: relative;
  z-index: 1;
}
#explanations .explanations-container .explanations-container__txt .marker::before {
  background: #FFDCDC;
  position: absolute;
  content: "";
  width: 100%;
  height: 24px;
  display: inline-block;
  bottom: 0;
  left: 0;
  z-index: -1;
}
#explanations .explanations-container .explanations-container__detail {
  width: 82.3636%;
  margin: 30px auto 0;
  font-size: 23px;
  line-height: 2;
  text-align: center;
  color: #45160c;
  border-left: 2px solid #C07D6F;
  border-right: 2px solid #C07D6F;
}

#services {
  background-color: #fff;
}
#services .step h3 {
  color: #b1382b;
}

#testimonials {
  background-color: #b1382b;
  color: #fff;
}
#testimonials .testimonial-item {
  background-color: rgba(255, 255, 255, 0.1);
}

#contact {
  background-color: #fcfafa;
}
#contact form input:focus, #contact form textarea:focus {
  border-color: #b1382b;
  box-shadow: 0 0 10px rgba(177, 56, 43, 0.3);
}
#contact form .submit-button {
  text-decoration: none;
  background: #b1382b;
  color: #fff;
}
#contact form .submit-button:hover {
  background: #882b21;
}

footer {
  background-color: #282828;
  color: #fff;
}
footer .footer-nav a, footer .social-links a {
  color: #fff;
}
footer .footer-nav a:hover, footer .social-links a:hover {
  color: #fcfafa;
}
