@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
.welltech-en {
  width: 255px;
  height: 54px;
  aspect-ratio: 255/54;
  padding-right: 0.5rem;
}

.content-title {
  background-color: #09489E;
  padding: 4rem 0;
}

.content-title__ja {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 1.4;
}

.bigger {
  font-size: 1.5em;
  padding: 0 0.1em;
}

.bigger-figure {
  font-size: 2em;
  padding: 0 0.05em;
}

.content-title__en {
  color: #6F92C1;
  border-bottom: 2px solid #6F92C1;
  font-size: 1.4rem;
  text-align: center;
  max-width: 350px;
  margin: 0 auto 1rem;
}

@media (min-width: 768px) {
  .br-sp {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .content-title {
    padding: 2.5rem 0;
  }
  .content-title__ja {
    font-size: 2rem;
  }
  .bigger {
    font-size: 1.25em;
  }
  .content-title__en {
    width: 50%;
  }
  .br-pc {
    display: none;
  }
  .welltech-en {
    width: 191px;
    height: 40px;
  }
}
@media (max-width: 767px) {
  .content-title {
    padding: 2.5rem 0;
  }
  .content-title__ja {
    font-size: 1.85rem;
  }
  .bigger {
    font-size: 1.25em;
  }
  .content-title__en {
    width: 50%;
  }
  .br-pc {
    display: none;
  }
  .welltech-en {
    width: 191px;
    height: 40px;
  }
}