@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin text-center {
  text-align: center;
}

@mixin button-style {
  text-decoration: none;
}

@mixin sp{
  @media screen and (max-width:767px) {
    @content;
  }
}
@mixin pc{
  @media screen and (min-width:768px) {
    @content;
  }
}
@mixin pc-large{
  @media screen and (min-width:1441px) {
    @content;
  }
}
@mixin monitor{
  @media screen and (min-width:1921px) {
    @content;
  }
}