@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin text-center {
  text-align: center;
}

@mixin button-style {
  text-decoration: none;
}
