$main-color: #b1382b; // 深みのある茶色
$secondary-color: #fcfafa; // ソフトなオフホワイト
$accent-color: #fff; // 純白
$text-color: #282828; // ダークグレー
$background-color: #fcfafa; // ソフトなオフホワイト

$heading-font: 'DNPShueiMinPr6';
$body-font: 'DNPShueiMinPr6';

$gradient-start: #8c4130;
$gradient-end: lighten(#8c4130, 10%);

$font-stack: Arial, sans-serif;
$primary-color: #f8f8f8;
$header-padding: 10px 0;
$container-padding: 20px;
$price-font-size: 1.5em;
$text-center: center;
$left-content-width: 48%;
$right-content-width: 48%;
